$marginSite: 14px;
$maxWidthCell: 1024px;
$headerHeight: 90px;
$mainTransition: all .4s ease-in-out;
$hoverTransition: all .2s ease-in-out;
$mediaMin: 1024px;
$scaleHover: scale(1.1);
$hoverText: #D92211;
$selectedItems: 0 0 4px #4094DA;