@import "../utils.scss";
$sizeCard: clamp(250px, 90vw, 340px);

.buySectionDiv{
    background-image: repeating-linear-gradient(to top, rgba(0,0,0,0.10),rgba(0,0,0,0.10)) ,linear-gradient(to bottom, #151213, transparent 60% ,transparent 80%, #316087 96%), url(../../assets/images/axe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: white;
    padding: 0 $marginSite;

    .titleBuy{
        font-size: clamp(2.4em, 10vw, 3.6em);
        margin-top: 30px;
        text-align: center;
        text-shadow: -3px 2px 4px rgb(0, 0, 0),
                    -2px 1px 4px rgb(0, 0, 0),
                    3px 2px 4px rgb(0, 0, 0),
                    2px 1px 4px rgb(0, 0, 0);
        max-width: 700px;
    }

    .titleEditions{
        font-size: clamp(1.8em, 10vw, 3.2em);
        margin-top: 70px;
        text-align: center;
        text-shadow: -3px 2px 4px rgb(49, 96, 135),
                    -2px 1px 4px rgb(49, 96, 135),
                    3px 2px 4px rgb(49, 96, 135),
                    2px 1px 4px rgb(49, 96, 135),
                    -4px 2px 4px rgb(0, 0, 0),
                    -3px 1px 4px rgb(0, 0, 0),
                    4px 2px 4px rgb(0, 0, 0),
                    3px 1px 4px rgb(0, 0, 0);
    }

    .carousel{
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
    }

    .carouselImgs{
        display: flex;
        gap: 30px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 20px 0 30px calc($sizeCard * 2 + 60px);
        transition: $mainTransition;

        .card{
            background-image: linear-gradient(to bottom, #4094DA, #1E1E1E);
            width: $sizeCard;
            border-radius: 10px 10px 4px 4px;
            margin: 0px 0 20px;
            display: inline-flex;
            flex-direction: column;
            box-shadow: 0 0px 8px rgba(0, 0, 0, 1);
            transition: $mainTransition;
        
            .imgCard{
                border-radius: 10px 10px 0 0;
            }

            .mainCard{
                padding: 0 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            h3{
                font-size: 32px;
                align-self: center;
                text-align: center;
            }
            
            ul{
                display: inline-block;
                font-size: 16px;
                margin: 20px 0;
                list-style-position: inside;
            }
            
            .buyDiv{
                width: 100%;
                margin-top: auto;
            }
            .priceText{
                font-size: 20px;
            }
            .buyButton{
                width: 100%;
                background-color: #4293DD;
                color: white;
                border-radius: 20px;
                margin-bottom: 20px;
                border: 0;
                font-size: 1.5em;
                padding: 0 14px;
                cursor: pointer;
                transition: all .2s ease-in-out;

                &:hover{
                    transform: scale(1.04);
                }
            }

            .buyButton.active{
                background-color: #ffffff;
                color: #4293DD;
            }

        }

        .active{
            box-shadow: $selectedItems;
            transform: scale(1.02);
        }
    }
}

.gameplaySection{
    background: linear-gradient(to bottom, #2C5679 ,#2C5679 50%, white);
    padding: 40px $marginSite 80px;

    .divGameplay{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a{
        position: absolute;
        padding: 10px 6px;
        z-index: 2;
        font-size: clamp(1.5em, 6vw, 2.6em);
        background-image: linear-gradient(to bottom, #264660, white);
        text-decoration: none;
        color: white;
        border-radius: 30px;
        text-shadow: 0 2px rgba(0, 0, 0, 0.50);
        text-align: center;
        width: 90%;
        transition: $hoverTransition;

        &:hover{
            transform: scale(1.04);
        }
    }

    .fatherFilter{
        position: relative;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gameplayFilter{
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        background-image: repeating-linear-gradient(to top, rgba(0,0,0,0.40),rgba(0,0,0,0.40)) ,linear-gradient(to bottom, rgba(0,0,0, 0) 60%, rgba(255, 255, 255, 0.4));
        border-radius: 7px;
    }

    img{
        border-radius: 7px;
        box-shadow: 0 0px 8px rgba(0, 0, 0, 1);
    }
}