@import "../utils.scss";

.headerClass{
    position: fixed;
    z-index: 2;
    height: 70px;
    width: 100%;
    transition: $mainTransition;
}

.close .fixedHeader{
    transform: translateY(calc(100% - 420px));
}

.fixedHeader{
    position: fixed;
    height: $headerHeight;
    width: 100%;
    transition: $mainTransition;
}

.marginHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    max-width: $maxWidthCell;
    width: 100%;
    height: 100%;
    padding: 0 $marginSite;
}

.flexHeader{
    height: 100%;
    border-radius: 0 0 14px 14px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.blades{
    height: 100%;
    display: flex;
    align-items: center;
    width: 64px;
    filter: drop-shadow(1px 0px 0px rgba(255, 255, 255, 1))
            drop-shadow(-1px 0px 0px rgba(255, 255, 255, 0.7))
            drop-shadow(1px 0px 2px rgba(0,0,0, 0.3))
            drop-shadow(-1px 0px 2px rgba(0,0,0, 0.3));
    transition: $hoverTransition;
    cursor: pointer;

    &:hover{
        transform: $scaleHover;
    }
            
    img{
       width: 54px;
       min-height: 50px;
       transition: all .2s ease-in-out;
    }

    img:nth-child(1){
        transform: rotateY(180deg) translateX(14px);
    }

    img:nth-child(2){
        transform: translateX(-34px);
    }
}
.marketBtn{
    background-color: transparent;
    position: relative;
    transition: $hoverTransition;
    filter: drop-shadow(1px 0px 2px rgba(0,0,0, 0.3))
                drop-shadow(-1px 0px 2px rgba(0,0,0, 0.3));   
        
    &:hover{
        transform: $scaleHover;
    }

    .cartSvg{
        width: 58px;
        margin-left: 5px;
         
        path{
            fill: #4094DA;
        }
    }

    .countData{
        position: absolute;
        top: -10px;
        right: -6px;
        border: 0;
        padding: 0 3px;
        background-color: white;
        border-radius: 100px;
        color: #4094DA;
        font-family: inter, Arial, Helvetica, sans-serif;
        font-size: 1.2em;
    }

}

.mainNav{
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 90%;
    z-index: -1;
    background-image: linear-gradient(to bottom, white 20%, #264660);
    border-radius: 0 0 14px 14px;
    transition: $mainTransition;
    padding: 60px 0 10px;
    margin-top: 60px;
    transform: translateY(-100%);
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

    ul{
        background-image: linear-gradient(to bottom, #4094DA, white);
        background-clip: text;
        -webkit-background-clip: text;

        filter: drop-shadow(0px 0px 2px rgb(0, 0, 0))
                drop-shadow(0px 0px 2px rgb(255, 255, 255));
        width: 100%;        
        li{
            list-style: none;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            
            a{
                text-decoration: none;
                color: transparent;
                display: block;
                font-size: 2.6em;
                transition: $hoverTransition;
                &:hover{
                    color: $hoverText;
                }   
                
            }
        }
    }

}

.a-logo{
    margin-left: auto;
    transition: $hoverTransition;

    &:hover{
        transform: $scaleHover;
    }
}
.logo{
    width: clamp(140px,54vw,260px);
    height: 100%;
    filter: drop-shadow(1px 0px 0px rgba(255, 255, 255, 1))
            drop-shadow(-1px 0px 0px rgba(255, 255, 255, 0.7))
            drop-shadow(1px 0px 2px rgba(0,0,0, 0.3))
            drop-shadow(-1px 0px 2px rgba(0,0,0, 0.3));   
}

.active{
    .mainNav{
        transform: translateY(calc($headerHeight + 20px));
    }

    .blades{
        filter: drop-shadow(1px 0px 0px rgba(255, 255, 255, 1))
            drop-shadow(-1px 0px 0px rgba(255, 255, 255, 1))
            drop-shadow(2px 0px 3px rgba(66, 147, 221, 0.7))
            drop-shadow(-2px 0px 3px rgba(66, 147, 221, 0.7));

        img:nth-child(1){
            transform: translateX(0px) rotateY(180deg) rotateZ(-30deg);
            position: relative;
        }
    
        img:nth-child(2){
            transform: translateX(-50px) rotateZ(-30deg);
            position: relative;
        }
    }
}

@media only screen and (min-width: $mediaMin){
    .blades{
        display: none;
    }
    .active{
        .mainNav{
            transform: translate(0);
        }
    }
    .mainNav{
        position: relative;
        z-index: 0;
        background-image: linear-gradient(to top, transparent, transparent);
        justify-content: flex-start;
        width: fit-content;
        margin: 0;
        margin-left: auto;
        padding: 0;
        transform: translate(0);
        height: 100%;
        box-shadow: none;

        ul{
            display: inline-flex;
            background-image: linear-gradient(to right, #4094DA, white);
            height: 100%;
            li{
                display: block;
                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 2.8em;
                    padding: 0 10px;
                    height: 100%;
                }
            }
            
        }
    }
}