@font-face {
    src: url(../images_Fonts/fonts/Inter-Bold.ttf);
    font-family: 'inter';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url(../images_Fonts/fonts/Inter-Regular.ttf);
    font-family: 'inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url(../images_Fonts/fonts/Inter-ExtraLight.ttf);
    font-family: 'inter';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/* Font god of war */
@font-face {
    src: url(../images_Fonts/fonts/Berserker-Regular.ttf);
    font-family: 'berserker';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
