@import "../utils.scss";

.cardsSection {
    border-spacing: 0 20px;
    
    .flexTBody{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    th{
        display: none;
    }

    .cardBuy {
        width: 100%;
        background-color: #4094DA;
        display: inline-flex;
        flex-direction: column;
        border-radius: 10px;

        .flexCard{
            display: flex;
            align-items: center;
            justify-content: start;

            .alignBuy{
                margin-left: auto;
            }
        }

        p{
            font-size: clamp(1em, 6vw, 1.4em);
        }

        td{
            padding: $marginSite 14px $marginSite;
        }

        td:first-of-type {
            padding: $marginSite $marginSite 24px $marginSite;
        }

        td:last-child{
            padding: $marginSite 14px 24px;
        }

        .alignBuy {
            font-weight: bold;
        }

        .photoDiv {

            div {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            h2 {
                font-weight: bold;
                text-align: start;
                display: inline-block;
                max-width: 270px;
                min-height: 100%;
                font-size: clamp(1em, 6vw, 1.6em);
                text-align: center;
            }

            img {
                
                width: 140px;
                height: 140px;
                object-fit: cover;
                border-radius: 10px;
                display: block;
            }
        }

        .changeCard {
            display: flex;
            justify-content: center;
            align-items: center;

            .changeItems {
                border: 0;
                padding: 0 6px;
                background-color: transparent;
                border-radius: 100%;
                color: white;
                cursor: pointer;
                font-size: 2em;
                transition: $hoverTransition;

                &:hover{
                    filter: drop-shadow(0 0 7px black);
                }
            }

            .itemsQtd {
                padding: 3px 8px;
                border: 1px solid white;
                border-radius: 100%;
                margin: 0 4px;
            }
        }
    }
}

@media only screen and (min-width: 370px) {
    .cardsSection .cardBuy{

        .photoDiv div{
            flex-direction: row;

            h2{
                margin-left: 10px;
                text-align: start;
            }
        }
    }
    
}

@media only screen and (min-width: $mediaMin){
    .removeDesk{
        display: none;
    }

    .cardsSection{

        .flexTBody{
            display: table-row-group;
        }

        th{
            display: table-cell;
            font-size: 1.4em;
            
        }

        .cardBuy{
            display: table-row;
            border-radius: 0;

            .flexCard{
                display: block;
            }

            td{
                padding: 0;
            }

            td:first-of-type {
                padding: $marginSite 0 $marginSite $marginSite;
                border-radius: 10px 0 0 10px;
            }

            td:last-of-type{
                padding: 0 $marginSite 0 0;
                border-radius: 0 10px 10px 0;
            }

        }
    }

}