@import "../utils.scss";

.noItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        margin-top: 30px;
        filter: drop-shadow(0 0 4px black);
        

        .marketBtn:hover{
            transform: scale(1.07);
        }
        svg{
            width: 200px;
            fill: #4094DA;
        }
    
        h2{
            font-size: clamp(2em, 7vw, 3em);
            max-width: 400px;
            font-weight: bold;
            text-align: center;
        }
    
    
}

.mainMarket{
    background-image: linear-gradient(to bottom, rgba(49, 96, 135, 0.7) 50%, white), url(../../assets/images/characters.webp) ;
    background-position: center top 30%;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    .buySection{
        padding: 0 $marginSite;
        width: 100%;
    }

    .buyDiv{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 40px;
        text-align: center;
        max-width: 724px;
        background-color: rgba(00, 00, 00, 0.42);
        color: white;
        min-height: 500px;
        margin-top: 40px;
        border-radius: 10px;
        font-family: inter, sans-serif;
        box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);
        position: relative;
        margin-top: 140px;

        .buyTitle{
            width: 100%;
            background-color: #4094DA;
            border-radius: 10px 10px 0 0;
            padding: 10px $marginSite;
            font-size: clamp(1.5em, 10vw, 2em);
            font-weight: bold;
            text-align: left;
        }

        .buySections{
            padding: 0 $marginSite;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-grow: 1;

            .buyInfo{
                margin: auto 0 20px;
                width: 100%;
                background-color: #4094DA;
                border-radius: 10px;
                padding: 20px $marginSite 12px;
                
                .priceDiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .priceText{ 
                        // margin-left: auto;
                        font-weight: bold;
                        font-size: 1.55em;
                    }

                    h3{
                        text-align: start;
                        font-weight: bold;
                        font-size: 1.6em;
                    }
                }

                button{
                    width: 100%;
                    margin-top: 14px;
                    font-size: clamp(1.9em, 8vw, 2.3em);
                    border: 0;
                    color: #4094DA;
                    padding: 1px 0;
                    font-weight: bold;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: $hoverTransition;

                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 390px){
    .mainMarket .buyDiv .buySections .buyInfo .priceDiv{
        flex-direction: row;
        align-items: baseline;

        .priceText{
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: $mediaMin) {
    .mainMarket .buyDiv{
        max-width: $maxWidthCell;
    }
}