@import "../utils.scss";

.mainMarket{
    background-image: linear-gradient(to bottom, rgba(49, 96, 135, 0.7) 50%, white), url(../../assets/images/characters.jpg) ;
    background-position: center top 30%;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;

    .buySection{
        padding: 0 $marginSite;
        width: 100%;
    }

    .buyDiv{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 40px;
        text-align: center;
        max-width: $maxWidthCell;
        background-color: rgba(00, 00, 00, 0.42);
        color: white;
        min-height: 500px;
        margin-top: 40px;
        border-radius: 10px;
        font-family: inter, sans-serif;
        box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);

        .buyTitle{
            width: 100%;
            background-color: #4094DA;
            border-radius: 10px 10px 0 0;
            padding: 10px $marginSite;
            font-size: clamp(1.5em, 10vw, 2em);
            font-weight: bold;
            text-align: left;
        }

        .buySections{
            padding: 0 $marginSite;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .buyInfo{
                margin: auto 0 20px;
                width: 100%;
                background-color: #4094DA;
                border-radius: 10px;
                padding: 20px $marginSite 12px;
                
                .priceDiv{
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    .priceText{ 
                        margin-left: auto;
                        font-weight: bold;
                        font-size: 1.25em;
                    }

                    h3{
                        text-align: start;
                        font-weight: bold;
                        font-size: 1.5em;
                    }
                }

                button{
                    width: 100%;
                    margin-top: 14px;
                    font-size: 1.8em;
                    border: 0;
                    color: #4094DA;
                    padding: 1px 0;
                    font-weight: bold;
                    border-radius: 10px;
                }
            }
        }
    }
}